body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

#myP, .myLabel {
    font-size: 3em;
}

button {
    padding: 7px 14px;
    background-color: rgb(17, 178, 236);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.25s;

    &:hover{
       background-color: rgb(14, 149, 198); 
       color: rgb(198, 198, 198);
    }
    &:active{
       background-color: rgb(6, 84, 112); 
       color: rgb(130, 130, 130);
    }
}

.temp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 340px;
    height: 400px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 10px 10px 15px rgb(102, 102, 102);
}

.temp-container h1 {
    color: rgb(112, 181, 225);
}
.temp-container p {
    font-weight: bold;
}

#temp-number {
    padding: 5px;
    border-radius: 5px;
}

.dice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-container label{
    font-weight: bold;
}

.dice-container input{
    padding: 7px 0;
    text-align: center;
    font-size: 100%;
}

.dice-container p{
    font-weight: bold;
}

#diceBox {
    margin-top: 10px;
    width: 300px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

#diceBox img{
    width: 90px;
    height: 90px;
}

.stopwatch-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.start-button{
    background-color: rgb(35, 236, 17);
     &:hover{
       background-color: rgb(21, 182, 29); 
    }
    &:active{
       background-color: rgb(10, 112, 6); 
    }
}

.stop-button{
    background-color: rgb(236, 17, 17);
     &:hover{
       background-color: rgb(182, 21, 21); 
    }
    &:active{
       background-color: rgb(112, 6, 6); 
    }
}